.row {
  --bs-gutter-x: 0;
  margin-bottom: 20px;
}
.row .wrapper {
  min-height: auto;
}
.apidocs {
  padding: 0 !important;
}


#swagger-ui ::before {
  display: none;
}
#swagger-ui .information-container {
  background: #eee url(../../../base/images/bg.png);
}
#swagger-ui .information-container .info {
  margin: 20px 0;
}
#swagger-ui .information-container .info .main {
  min-height: unset;
  background: #eee url(../../../base/images/bg.png);
}
#swagger-ui .scheme-container {
  display: none;
}
#swagger-ui .topbar {
  display: none;
  background-color: #000;
}
#swagger-ui .topbar .wrapper{
  background: #000;
  border: none;
}
.swagger-ui table {
  width: unset !important;
}
.swagger-ui .opblock-body select {
  height: auto;
}
.swagger-ui .topbar .download-url-wrapper input[type=text] {
  height: auto;
}
